<button md-raised-button (click)="populateStarterData()">Populate Data</button>
<br>
<md-input-container>
  <input mdInput [(ngModel)]="accountId" placeholder="Account ID">
</md-input-container>
<br>
<button md-raised-button (click)="getAccountInfo()">Get Account Info</button>
<br>

<md-toolbar color="primary">
	<span>Training Sign Up</span>
	<span class="fill-remaining-space"></span>
	<div [ngSwitch]="displayButton">
			<button *ngSwitchCase="true" md-mini-fab (click)="hideTrainings()">
				<md-icon>expand_less</md-icon>
			</button>
			<button *ngSwitchCase="false" md-mini-fab (click)="displayTrainings()">
				<md-icon>expand_more</md-icon>
			</button>
	</div>
</md-toolbar>
<ng-container *ngIf="displayButton">
	<ng-container *ngFor="let key of getKeys(trainingDict)">
		<div class="d-flex justify-content-center flex-row">
			<div class="d-flex p-2"> 
				{{reformatStart(trainingDict[key].date + " " + trainingDict[key].startTime, trainingDict[key].duration)}}<br>{{trainingDict[key].sport}} @ {{trainingDict[key].location}} (Level {{trainingDict[key].level}})
			</div>
			<div class="d-flex p-2">
				<div [ngSwitch]="trainingDict[key].displayBool">
					<button *ngSwitchCase="true" md-mini-fab (click)="hideTraining(key)">
						<md-icon>expand_less</md-icon>
					</button>
					<button *ngSwitchCase="false" md-mini-fab (click)="displayTraining(key)">
						<md-icon>expand_more</md-icon>
					</button>
				</div>
			</div>
		</div>
		<div *ngIf="trainingDict[key].displayBool">
			<div class="d-flex justify-content-center flex-row">
				<div class="d-flex p-2">
						<ng-container *ngFor="let playerId of accountPlayers">
							<ng-container [ngSwitch]="checkTrainingSignupStatus(playerId, key)">
								<md-checkbox *ngSwitchCase="'paid-confirm'" class="checkbox-margin" [checked]="true" [disabled]="true">
									{{playerTrainingInfo[playerId].firstName}}
								</md-checkbox>
								<md-checkbox *ngSwitchCase="'paid-wait'" class="checkbox-margin" [indeterminate]="true" [disabled]="true">
									{{playerTrainingInfo[playerId].firstName}}
								</md-checkbox>
								<md-checkbox *ngSwitchCase="'unpaid'" class="checkbox-margin" [checked]="true" [disabled]="false" (change)="openSnackBar(playerTrainingInfo[playerId], trainingDict[key])" [(ngModel)]="playerTrainingInfo[playerId].trainingSignUp[key]">
									{{playerTrainingInfo[playerId].firstName}}
								</md-checkbox>
								<md-checkbox *ngSwitchDefault class="checkbox-margin" (change)="openSnackBar(playerTrainingInfo[playerId], trainingDict[key])" [(ngModel)]="playerTrainingInfo[playerId].trainingSignUp[key]">
									{{playerTrainingInfo[playerId].firstName}}
								</md-checkbox>
							</ng-container>
						</ng-container>
				</div>
			</div>
		</div>
	</ng-container>
	<ng-container *ngIf="(countNumSignupsTotal() > 0)">
		<div class="d-flex mx-auto justify-content-center summary topSummary">
				<md-icon>shopping_cart</md-icon>
				<strong>&nbsp;Summary: {{countNumSignupsTotal()}} trainings in cart</strong>
		</div>
		
		<div *ngFor="let playerId of getKeys(playerTrainingInfo)">
			<div *ngIf="(countNumSignupsPlayer(playerId) > 0)">
				<div class="d-flex mx-auto justify-content-start summary">
					<strong>{{playerTrainingInfo[playerId].firstName}} (${{countNumSignupsPlayer(playerId) * trainingPrice}}):</strong>
				</div>
				<div *ngFor="let trainingId of getKeys(playerTrainingInfo[playerId]['trainingSignUp'])">
					<div *ngIf="playerTrainingInfo[playerId]['trainingSignUp'][trainingId]">
						<div class="d-flex mx-auto justify-content-center summary">
							&bull; {{reformatStart(trainingDict[trainingId].date + " " + trainingDict[trainingId].startTime, trainingDict[trainingId].duration)}}<br>
							&nbsp;&nbsp;&nbsp;{{trainingDict[trainingId].sport}} @ {{trainingDict[trainingId].location}} (Level {{trainingDict[trainingId].level}})
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="d-flex mx-auto justify-content-center summary">
				<md-icon>monetization_on</md-icon>
				<strong>&nbsp;Total Payment due: ${{totalPriceCalc()}}</strong>
		</div>
		<div class="d-flex mx-auto justify-content-center summary bottomSummary">
			<button md-raised-button color="accent" (click)="updateTraining()">Submit</button>
		</div>
	</ng-container>
</ng-container>


<!-- <md-nav-list>
	<h2 md-header>Future Trainings</h2>
	<md-list-item *ngFor="let key of getKeys(trainingDict)">
		<p md-line>{{reformatStart(trainingDict[key].date + " " + trainingDict[key].time, trainingDict[key].duration)}}</p>
		<p md-line>{{trainingDict[key].sport}} @ {{trainingDict[key].location}} ({{trainingDict[key].level}})</p>
	</md-list-item>
</md-nav-list> -->