<button md-raised-button (click)="populateStarterData()">Populate Data</button>
<br>
<md-input-container>
  <input mdInput [(ngModel)]="accountId" placeholder="Account ID">
</md-input-container>
<br>
<button md-raised-button (click)="getAccountInfo()">Get Account Info</button>
<br>

<md-toolbar color="primary">
	<span>Future Trainings</span>
	<span class="fill-remaining-space"></span>
	<div [ngSwitch]="displayButton">
			<button *ngSwitchCase="true" md-mini-fab (click)="hideTrainings()">
				<md-icon>expand_less</md-icon>
			</button>
			<button *ngSwitchCase="false" md-mini-fab (click)="displayTrainings()">
				<md-icon>expand_more</md-icon>
			</button>
	</div>
</md-toolbar>
<ng-container *ngIf="displayButton">
	<ng-container *ngFor="let key of getKeys(trainingDict)">
		<div class="d-flex justify-content-center flex-row">
			<div class="d-flex p-2"> 
				<p>{{reformatStart(trainingDict[key].date + " " + trainingDict[key].startTime, trainingDict[key].duration)}}<br>{{trainingDict[key].sport}} @ {{trainingDict[key].location}} (Level {{trainingDict[key].level}})</p>
				<p>
			</div>
			<div class="d-flex p-2">
				<div [ngSwitch]="trainingDict[key].bool">
					<button *ngSwitchCase="true" md-mini-fab (click)="hideTraining(key)">
						<md-icon>expand_less</md-icon>
					</button>
					<button *ngSwitchCase="false" md-mini-fab (click)="displayTraining(key)">
						<md-icon>expand_more</md-icon>
					</button>
				</div>
			</div>
		</div>
		<div class="d-flex justify-content-center flex-row">
			<div class="d-flex p-2" *ngIf="trainingDict[key].bool">
					<ng-container *ngFor="let playerId of accountPlayers">
						<ng-container [ngSwitch]="checkTrainingSignupStatus(playerId, trainingDict[key])">
							<md-checkbox *ngSwitchCase="'signedup'" class="checkbox-margin" [checked]="true" [disabled]="true">
								{{playerFirstNames[playerId]}}
							</md-checkbox>
							<md-checkbox *ngSwitchCase="'waitlist'" class="checkbox-margin" [indeterminate]="true" [disabled]="true">
								{{playerFirstNames[playerId]}}
							</md-checkbox>
							<md-checkbox *ngSwitchDefault class="checkbox-margin" (click)="openSnackBar()">
								{{playerFirstNames[playerId]}}
							</md-checkbox>
						</ng-container>
					</ng-container>
			</div>
		</div>
	</ng-container>
</ng-container>

<!-- <md-nav-list>
	<h2 md-header>Future Trainings</h2>
	<md-list-item *ngFor="let key of getKeys(trainingDict)">
		<p md-line>{{reformatStart(trainingDict[key].date + " " + trainingDict[key].time, trainingDict[key].duration)}}</p>
		<p md-line>{{trainingDict[key].sport}} @ {{trainingDict[key].location}} ({{trainingDict[key].level}})</p>
	</md-list-item>
</md-nav-list> -->